body {
    display: grid;
    height: 100vh;
    grid-template: auto 1fr auto / auto 1fr auto;
  }
  
  header {
    background: darkblue;
    padding: 1rem;
    grid-column: 1 / 4;
  }
  
  .left-sidebar {
    background: gray;
    grid-column: 1 / 2;
    padding: 1rem;
  }
  
  main {
    background: darkcyan;
    grid-column: 2 / 3;
  }
  
  .right-sidebar {
    background: gray;
    grid-column: 3 / 4;
    padding: 1rem;
  }
  
  footer {
    background: darkgreen;
    padding: 1rem;
    text-align: center;
    grid-column: 1 / 4;
  }
  
  nav {
    margin: 0 auto 1rem;
    max-width: 90vw;
  }
  
  .navigation {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    background-color: darkgreen;
    align-items: center;
  }
  .navigation li {
    flex: 2 2 auto; /* What is the difference between auto and 100% flex-basis? - turn on link borders to view */
  }
  .navigation a {
    display: block;
    color: white;
    padding: 2rem;
    text-decoration: none;
    text-align: center;
  }
  
  .navigation a:hover {
    font-weight: 700;
    text-decoration: underline;
    text-decoration-color: red;
  }